@use '../1-base/variables'
@use 'layouts-mixins'
@use '../1-base/_base-mixins'

.footer
   h3
      color: variables.$light-color
      text-transform: uppercase
      font-size: 1.75rem
      margin-bottom: 1.5rem

   a, p, li
      color: variables.$secundary-text-color
   
   li, p 
      margin-bottom: 10px
      @include base-mixins.mobile
         font-size: 1rem
         text-align: start

      a
         &:hover, &:hover i
            transform: .4s
            color: variables.$text-hover
            
   &-top
      @include layouts-mixins.center-content
      justify-content: space-between
      padding: 0 30px

      @include base-mixins.mobile
         align-items: center
         flex-direction: column

      &-about
         max-width: 50%
         @include base-mixins.mobile
            max-width: 100%
            margin-bottom: 30px

      &-information
         max-width: 30%
      
      .dados
         text-align: start
         margin-top: 5%
         li
            margin-bottom: 3%
         i
            width: 25px
            color: variables.$light-color
            
         @include base-mixins.mobile
            padding: 0 10px
            i  
               width: 12px

   &-bottom
      @include layouts-mixins.center-content
      margin-top: 5%