html {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-weight: 400;
  scroll-behavior: smooth;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
}
@media (min-width: 1700px) {
  html {
    font-size: 20px;
  }
}
@media (max-width: 1080px) {
  html {
    font-size: 15px;
  }
}
@media (max-width: 820px) {
  html {
    font-size: 13px;
  }
}
@media (max-width: 625px) {
  html {
    font-size: 12px;
  }
}
html body {
  scrollbar-width: thin;
  scrollbar-color: blue transparent;
}
html body::-webkit-scrollbar {
  width: 4px;
  height: 3px;
}
html body::-webkit-scrollbar:hover {
  height: 3px;
}
html body::-webkit-scrollbar-thumb {
  background-color: #5c93f3;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

i {
  color: #4a4e69;
}

a {
  text-decoration: none;
  transition: 0.4s;
  color: #22223b;
}
a:hover {
  color: #28db91;
}

p {
  text-indent: 1em;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}

header .home {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}
header .home-content {
  font-size: 1.1rem;
  padding: 0 20px;
  margin-top: 15%;
}
@media (max-width: 625px) {
  header .home-content {
    margin-top: 0;
  }
}
header .home-content-title {
  font-weight: 700;
  font-family: "Cormorant SC", serif;
  font-size: 3.5rem;
  text-align: center;
  text-align: center;
}
header .home-content-desc {
  margin-top: 5%;
}
@media (max-width: 625px) {
  header .home-content-desc {
    font-size: 1.5rem;
  }
}
header .home-content-desc p {
  padding: 7px 0;
  text-align: center;
}
header .home-social-media {
  display: flex;
  margin-top: 5%;
}
@media (max-width: 1080px) {
  header .home-social-media {
    margin: 0 0 0 35px;
  }
}
@media (max-width: 625px) {
  header .home-social-media {
    margin: 0;
  }
}
header .home-social-media .social-media-subtitulo {
  font-size: 1.5rem;
  visibility: hidden;
}
@media (max-width: 625px) {
  header .home-social-media .social-media-subtitulo {
    visibility: visible;
    font-size: 1.3rem;
  }
}
header .home-social-media a {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  margin: 0 15px 0 50px;
}
@media (max-width: 1080px) {
  header .home-social-media a {
    margin: 0 0 0 10px;
  }
}
@media (max-width: 625px) {
  header .home-social-media a {
    margin: 1% 15px;
  }
}
header .home-social-media a i {
  font-size: 4rem;
  color: black;
  border-radius: 100%;
  height: 95px;
  width: 95px;
  padding-top: 10px;
  cursor: pointer;
}
@media (max-width: 1080px) {
  header .home-social-media a i {
    font-size: 3.5rem;
    height: 75px;
    width: 75px;
  }
}
@media (max-width: 625px) {
  header .home-social-media a i {
    border-radius: 0;
    height: 35px;
    width: 40px;
    font-size: 3rem;
    padding: 0;
  }
}
header .home-social-media a:hover .social-media-subtitulo {
  visibility: visible;
  color: black;
}
header .home-social-media a:hover i {
  color: #f5f2e6;
  background-color: #28db91;
}
header .home-social-media a:hover i.in, header .home-social-media a:hover i.f {
  background-color: #4487ec;
  transition: 0.4s;
}
@media (max-width: 625px) {
  header .home-social-media a:hover i.in, header .home-social-media a:hover i.f {
    color: black;
    background-color: #f5f2e6;
  }
}

body {
  display: grid;
  background-image: linear-gradient(to top, #f1f1f1, #effcfd, #f1f1f1);
  margin: 0 auto;
  max-width: 1600px;
}

header {
  display: flex;
  padding-bottom: 5%;
}
@media (max-width: 625px) {
  header {
    flex-direction: column;
  }
  header .person img#logo {
    display: none;
  }
  header .person h2#name {
    display: block;
  }
}
header .divisor {
  width: 5%;
}

main {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  justify-content: flex-start;
}
main section {
  padding: 5px 35px;
}
@media (max-width: 625px) {
  main section {
    padding: 0;
  }
}
main #portfolio {
  margin-bottom: 40px;
}
main section.skill {
  padding: 0;
}
main section.skill .skill-card {
  background-repeat: no-repeat;
  background-image: url("../img/backgrounds//bg-pontilhado2.png");
  background-size: 100%;
}
@media (max-width: 625px) {
  main section.portfolio {
    margin-bottom: 50px;
  }
}
main #skill-bg {
  left: 0;
  width: 100%;
  height: 150%;
  opacity: 0.3;
  position: absolute;
  top: 103vh;
  z-index: -1;
}

footer {
  background-color: black;
  padding: 2rem 0;
  margin-top: 10%;
}

header .person #name {
  display: none;
  margin-top: 10%;
  font-weight: 700;
  font-family: "Cormorant SC", serif;
  font-size: 3.5rem;
  text-align: center;
}
header .person #logo {
  position: relative;
  width: 155%;
  z-index: -1;
}

header nav.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50px;
  left: 50%;
  width: 70%;
  max-width: 1300px;
  color: #283618;
  background-image: linear-gradient(to right, #f1f1f1, #f1f1f1, #f5f3f1, rgba(241, 241, 241, 0));
  border-radius: 30px 0px 0px 30px;
  box-shadow: -10px 10px 15px -10px rgba(0, 0, 0, 0.3);
  transform: translateX(-50%) !important;
}
@media (max-width: 1080px) {
  header nav.nav {
    top: 45px;
  }
}
@media (max-width: 820px) {
  header nav.nav {
    top: 35px;
  }
}
@media (max-width: 625px) {
  header nav.nav {
    flex-direction: row;
    position: relative;
    display: flex;
    width: 100%;
    top: 10px;
    border-radius: 0;
    background-image: linear-gradient(to right, #0650a5, #0051ad, #0650a5);
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
  }
}
header nav.nav ul {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}
@media (max-width: 625px) {
  header nav.nav ul {
    flex-wrap: wrap;
  }
}
header nav.nav ul a#cv {
  border: solid #ee0000 2px;
  color: #ff0a0a;
  border-radius: 20px;
  padding: 7px;
  cursor: pointer;
}
@media (max-width: 625px) {
  header nav.nav ul a#cv {
    color: white;
    border: solid rgba(238, 238, 238, 0) 2px;
    padding: 0;
  }
}
header nav.nav ul a#cv:hover {
  color: #0917db;
  border: solid #0917db 2px;
}
header nav.nav ul li {
  display: flex;
  align-items: center;
}
@media (max-width: 625px) {
  header nav.nav ul li {
    padding: 15px 0;
  }
}
header nav.nav ul li a {
  font-size: 1.1rem;
  border-radius: 45px;
  cursor: pointer;
}
@media (max-width: 625px) {
  header nav.nav ul li a {
    color: white;
  }
}
header nav.nav ul li a:hover {
  color: #28db91;
  text-decoration: underline;
}

main .skill {
  width: 100%;
}
main .skill-title {
  font-weight: 600;
  font-family: "Cormorant SC", serif;
  font-size: 3rem;
  text-align: center;
}
@media (max-width: 625px) {
  main .skill-title {
    font-size: 3.5rem;
  }
}
@media (max-width: 625px) {
  main .skill-title {
    margin-top: 10%;
  }
}
main .skill-card {
  padding: 20px 0;
  margin: 75px 0;
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 625px) {
  main .skill-card {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 10%;
    grid-template-areas: "content" "img" "skill";
  }
}
main .skill-card-img {
  margin: auto;
  width: 50%;
}
@media (max-width: 625px) {
  main .skill-card-img {
    grid-area: img;
  }
}
main .skill-card-img span {
  font-size: 0.8rem;
  opacity: 0.5;
  position: relative;
  top: -3.5vh;
}
main .skill-card-img img {
  width: 80%;
}
@media (max-width: 625px) {
  main .skill-card-img img {
    padding-top: 20px;
    width: 100%;
  }
}
main .skill-card-content {
  font-size: 1.1rem;
  width: 50%;
  margin: auto;
  padding: 0 15px;
}
@media (max-width: 625px) {
  main .skill-card-content {
    font-size: 1.4rem;
    grid-area: content;
    width: 100%;
  }
}
main .skill-card-content-title {
  margin-bottom: 25px;
  font-weight: 600;
  font-family: "Cormorant SC", serif;
  font-size: 2.2rem;
  text-align: center;
}
@media (max-width: 625px) {
  main .skill-card-content-title {
    font-size: 2.7rem;
  }
}
@media (max-width: 625px) {
  main .skill-card-content-title {
    margin-top: 10%;
  }
}
main .skill-card-content hr {
  width: 130%;
  position: relative;
  top: -5%;
  border: 0;
  margin: 0 auto;
  height: 1.5px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
  width: 55%;
}
main .skill-card-content p {
  margin: 10px 0;
  text-indent: 0;
}
main .skill-card-skill {
  margin: auto;
}
@media (max-width: 625px) {
  main .skill-card-skill {
    grid-area: skill;
    width: 90%;
    margin-top: 0;
  }
}
main .skill-card-skill ul {
  padding: 10px 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
main .skill-card-skill ul i {
  width: 30px;
  padding: 4px 0;
  height: 25px;
  color: #177ad6;
  border-radius: 100%;
  text-align: center;
}
main .skill-card-skill ul li {
  cursor: pointer;
  margin: 0 10px;
}
@media (max-width: 625px) {
  main .skill-card-skill ul li {
    margin: 0 5px;
  }
}
main .skill-card-skill ul li:hover {
  color: #28db91;
}
main .skill-card-skill ul li:hover i {
  color: #f5f2e6;
  background-color: #177ad6;
  transition: 0.4s;
}

#display-none {
  display: none;
}

main .skill .skill-menu-top {
  background-color: rgba(111, 162, 209, 0.9725490196);
  height: 4px;
}
main .skill .skill-menu-bottom {
  background-color: rgba(111, 162, 209, 0.9725490196);
  height: 6px;
}
main .skill .skill-menu-content {
  background-color: #3a3c42;
  padding: 20px 0;
}
@media (max-width: 625px) {
  main .skill .skill-menu-content {
    padding: 50px 0;
  }
}
main .skill .skill-menu-content-title {
  padding: 15px 0;
  color: white;
  font-weight: 600;
  font-family: "Cormorant SC", serif;
  font-size: 2.2rem;
  text-align: center;
}
@media (max-width: 625px) {
  main .skill .skill-menu-content-title {
    font-size: 2.7rem;
  }
}
@media (max-width: 625px) {
  main .skill .skill-menu-content-title {
    padding: 5px 0 0 0;
  }
}
main .skill .skill-menu-content-title i {
  color: white;
  margin-right: 10px;
}
main .skill .skill-menu-content-carousel {
  height: 485px;
  position: relative;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 1280px) {
  main .skill .skill-menu-content-carousel {
    height: 475px;
  }
}
@media (max-width: 1080px) {
  main .skill .skill-menu-content-carousel {
    height: 390px;
  }
}
@media (max-width: 625px) {
  main .skill .skill-menu-content-carousel {
    height: 320px;
  }
}
main .skill .skill-menu-content-carousel .carousel-arrow {
  font-size: 2.5rem;
  transition: transform 0.5s ease;
  cursor: pointer;
  color: rgba(111, 162, 209, 0.9725490196);
  transition: 0.5s;
}
main .skill .skill-menu-content-carousel .carousel-arrow:hover {
  transform: scale(1.2);
  transition: 0.5s;
  color: #28db91;
}
main .skill .skill-menu-content-carousel #card.card-hidden {
  visibility: hidden;
}
main .skill .skill-menu-content-carousel #card.card-fade {
  position: absolute;
  transition: 1s;
  top: 0;
}
main .skill .skill-menu-content-carousel #card.card-right {
  transform: translateX(50%) rotateY(90deg);
  transition: 0.3s;
  position: absolute;
  top: 0;
}
main .skill .skill-menu-content-carousel #card.card-left {
  transform: translateX(-50%) rotateY(-90deg);
  transition: 0.3s;
  position: absolute;
  top: 0;
}
main .skill .skill-menu-content-carousel #card.hidden-right {
  transform: translateX(-50%) rotateY(-90deg);
  transition: 0.3s;
}
main .skill .skill-menu-content-carousel #card.hidden-left {
  transform: translateX(50%) rotateY(90deg);
  transition: 0.3s;
}
main .skill .skill-menu-content-carousel #card.visible {
  transform: translateX(0%) rotateY(0deg);
  transition: 0.3s;
}
main .skill .skill-menu-content-carousel-container {
  display: flex;
  justify-content: center;
  width: 60%;
}
@media (max-width: 1080px) {
  main .skill .skill-menu-content-carousel-container {
    width: 80%;
  }
}
@media (max-width: 625px) {
  main .skill .skill-menu-content-carousel-container {
    width: 75%;
  }
}
main .skill .skill-menu-content-carousel-container-card {
  box-shadow: 0px 0px 10px -1px rgba(107, 124, 199, 0.4509803922);
  border: solid white 2px;
  color: white;
  padding: 25px 50px 15px 50px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  width: 55%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1725490196);
}
@media (max-width: 1080px) {
  main .skill .skill-menu-content-carousel-container-card {
    width: 70%;
  }
}
@media (max-width: 625px) {
  main .skill .skill-menu-content-carousel-container-card {
    width: 70%;
    min-height: 270px;
    padding: 10px;
  }
}
main .skill .skill-menu-content-carousel-container-card:hover {
  transform: scale(1.003);
  transition: 0.5s;
  box-shadow: 0px 0px 15px 1px rgba(107, 124, 199, 0.4509803922);
}
main .skill .skill-menu-content-carousel-container-card-title {
  font-weight: 500;
  font-family: "Cormorant SC", serif;
  font-size: 1.8rem;
  text-align: center;
  font-size: 2em;
}
@media (max-width: 625px) {
  main .skill .skill-menu-content-carousel-container-card-title {
    font-size: 2.3rem;
  }
}
@media (max-width: 625px) {
  main .skill .skill-menu-content-carousel-container-card-title {
    font-size: 1.4rem;
  }
}
main .skill .skill-menu-content-carousel-container-card hr {
  width: 130%;
  position: relative;
  top: -5%;
  border: 0;
  margin: 0 auto;
  height: 1.5px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
  width: 100%;
  top: 0;
}
main .skill .skill-menu-content-carousel-container-card-desc {
  flex-grow: 1;
  overflow: auto;
  margin-bottom: 10px;
}
@media (max-width: 625px) {
  main .skill .skill-menu-content-carousel-container-card-desc {
    border-radius: 10px;
  }
}
main .skill .skill-menu-content-carousel-container-card-desc ul li {
  padding: 5px 0;
  list-style: inside;
  text-align: start;
}
@media (max-width: 625px) {
  main .skill .skill-menu-content-carousel-container-card-desc ul li {
    font-size: 1rem;
    padding: 0 0 5px 0;
  }
}
main .skill .skill-menu-content-carousel-container-card-img {
  margin-bottom: 10px;
}
main .skill .skill-menu-content-carousel-container-card-img a, main .skill .skill-menu-content-carousel-container-card-img li {
  text-indent: 0;
  color: #ffffff;
  font-size: 1.2rem;
}
main .skill .skill-menu-content-carousel-container-card-img a:hover, main .skill .skill-menu-content-carousel-container-card-img li:hover {
  color: #28db91;
}
main .skill .skill-menu-content-carousel-container-card-img .divImg {
  width: 100%;
  position: relative;
  display: flex;
}
main .skill .skill-menu-content-carousel-container-card-img .divImg .divImgContainer {
  position: relative;
  width: 80%;
  margin: auto;
}
main .skill .skill-menu-content-carousel-container-card-img .divImg img {
  width: 100%;
  height: 13rem;
}
main .skill .skill-menu-content-carousel-container-card-img .divImg i.fa-solid {
  font-size: 15px;
  color: white;
  background-color: rgba(2, 2, 2, 0.3215686275);
  border-radius: 10%;
  padding: 3px;
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 22px;
  transition: 0.4s;
}
main .skill .skill-menu-content-carousel-container-card-img .divImg i.fa-solid:hover {
  background-color: rgba(2, 2, 2, 0.7960784314);
}
main .skill .skill-menu-content-carousel-container-card-img div.active {
  transform: scale(1.1) translateY(-15%);
  transition: 0.4s;
  position: absolute;
  width: 100%;
  height: 100vh;
  left: 0%;
  background-color: rgba(0, 0, 0, 0.5333333333);
  backdrop-filter: blur(3px);
}
main .skill .skill-menu-content-carousel-container-card-img div.active i.fa-solid {
  transform: scale(1.7);
}
main .skill .skill-menu-content-carousel-container-card-img div.active img {
  height: 25rem;
}
main .skill .skill-menu-content-carousel-container-card-img div.active div {
  width: 100%;
}
main .skill .skill-menu-content-nav {
  display: flex;
  flex-wrap: nowrap;
  padding: 15px 0;
}
main .skill .skill-menu-content-nav ul {
  padding: 0px 10px;
  width: 55%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
@media (max-width: 625px) {
  main .skill .skill-menu-content-nav ul {
    width: 100%;
  }
}
main .skill .skill-menu-content-nav ul i {
  width: 32px;
  height: 28px;
  padding: 6px 0;
  margin: 0 3px 4px 0;
  color: rgba(96, 218, 255, 0.3098039216);
  border-radius: 100%;
  text-align: center;
}
@media (max-width: 625px) {
  main .skill .skill-menu-content-nav ul i {
    height: 19px;
    padding: 4px 0 0px 0;
    width: 22px;
  }
}
main .skill .skill-menu-content-nav ul li {
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  display: flex;
  color: rgba(96, 218, 255, 0.3098039216);
  margin: 0 10px;
}
@media (max-width: 625px) {
  main .skill .skill-menu-content-nav ul li {
    margin: 0;
  }
}
main .skill .skill-menu-content-nav ul li:hover {
  color: #60daff;
  color: #28db91;
}
main .skill .skill-menu-content-nav ul li:hover i {
  color: #3A3C42;
  background-color: #28db91;
  background-color: #60daff;
  transition: 0.4s;
}
main .skill .skill-menu-content-nav ul li.active {
  color: #fff;
  font-weight: 600;
}
main .skill .skill-menu-content-nav ul li.active i {
  color: #f5f2e6;
  background-color: #1b61ac;
  transition: 0.4s;
}

main .portfolio {
  width: 100%;
}
main .portfolio-title {
  font-weight: 600;
  font-family: "Cormorant SC", serif;
  font-size: 3rem;
  text-align: center;
  margin: 3% 0 4% 0;
}
@media (max-width: 625px) {
  main .portfolio-title {
    font-size: 3.5rem;
  }
}
@media (max-width: 625px) {
  main .portfolio-title {
    margin-top: 10%;
  }
}
main .portfolio-grid {
  width: 85%;
  flex-wrap: wrap;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
@media (max-width: 625px) {
  main .portfolio-grid {
    flex-direction: column;
  }
}
main .portfolio-grid-card {
  box-shadow: 0px 0px 15px -5px rgba(0, 0, 0, 0.3);
  padding: 20px;
  margin: 15px;
  border-radius: 2%;
  width: 27%;
  background-color: rgba(168, 192, 235, 0.1921568627);
  background-image: url("../img/backgrounds/bg-quadrados.png");
  background-size: 100%;
  transition: 0.5s;
  cursor: pointer;
}
@media (max-width: 625px) {
  main .portfolio-grid-card {
    width: 80%;
  }
}
main .portfolio-grid-card:hover {
  transform: scale(1.01);
  transition: 0.5s;
  color: black;
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}
main .portfolio-grid-card-title {
  font-weight: 500;
  font-family: "Cormorant SC", serif;
  font-size: 1.8rem;
  text-align: center;
  font-size: 1.2rem;
  margin: 7px 0;
  font-weight: 700;
}
@media (max-width: 625px) {
  main .portfolio-grid-card-title {
    font-size: 2.3rem;
  }
}
@media (max-width: 625px) {
  main .portfolio-grid-card-title {
    font-size: 2rem;
  }
}
main .portfolio-grid-card-title hr {
  width: 130%;
  position: relative;
  top: -5%;
  border: 0;
  margin: 0 auto;
  height: 1.5px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
  width: 100%;
}
main .portfolio-grid-card-img p {
  font-size: 0.7rem;
}
@media (max-width: 625px) {
  main .portfolio-grid-card-img p {
    font-size: 1.3rem;
  }
}
main .portfolio-grid-card-img img {
  margin: 5px auto;
  width: 85%;
  box-shadow: 0px 0px 7px 0px rgb(0, 0, 0);
}

main .portfolio-grid {
  width: 100%;
}
main .portfolio-grid .portfolio-container {
  display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 60px 1fr 45px;
  grid-template-areas: "titleCont titleCont" "tools description" "tools footerDesc";
  background-color: #d6dfe0;
  box-shadow: 0px 0px 10px 1px rgb(0, 0, 0);
  width: 100%;
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container {
    grid-template-columns: 30% 1fr;
  }
}
main .portfolio-grid .portfolio-container-header {
  grid-area: titleCont;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4487ec;
  box-shadow: 0px 10px 10px -12px rgb(0, 0, 0);
}
main .portfolio-grid .portfolio-container-header-titleCont {
  font-weight: 600;
  font-family: "Cormorant SC", serif;
  font-size: 2.2rem;
  text-align: center;
  color: white;
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-header-titleCont {
    font-size: 2.7rem;
  }
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-header-titleCont {
    font-size: 2.2rem;
  }
}
main .portfolio-grid .portfolio-container-header i {
  color: white;
  cursor: pointer;
  position: absolute;
  right: 0;
  padding: 5px;
  font-size: 1.5rem;
  margin: 0 20px;
}
main .portfolio-grid .portfolio-container-tools {
  grid-area: tools;
  box-shadow: 10px 0px 10px -13px rgb(0, 0, 0);
  background-color: white;
  text-align: start;
  padding: 30px;
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-tools {
    padding: 20px;
  }
}
main .portfolio-grid .portfolio-container-tools-titleTools {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-tools-titleTools {
    font-size: 1.3rem;
  }
}
main .portfolio-grid .portfolio-container-tools ul {
  margin: 10px;
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-tools ul {
    margin: 5px;
  }
}
main .portfolio-grid .portfolio-container-tools ul li {
  margin: 15px 0;
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-tools ul li {
    font-size: 0.9rem;
    margin: 10px 0;
  }
}
main .portfolio-grid .portfolio-container-description {
  box-shadow: 0px 0px 15px -5px rgb(0, 0, 0);
  grid-area: description;
  border-radius: 5px;
  background-color: white;
  margin: 20px;
  padding: 30px;
}
main .portfolio-grid .portfolio-container-description-titleDesc {
  font-family: "Oswald", sans-serif;
  font-weight: 300;
  font-size: 1.7rem;
  text-align: start;
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-description-titleDesc {
    font-size: 1.3rem;
  }
}
main .portfolio-grid .portfolio-container-description-descContent {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-description-descContent {
    flex-direction: column;
  }
}
@media (max-width: 1080px) {
  main .portfolio-grid .portfolio-container-description-descContent {
    flex-direction: column;
  }
}
main .portfolio-grid .portfolio-container-description-descContent-ulDesc {
  margin: 10px;
}
main .portfolio-grid .portfolio-container-description-descContent-ulDesc li {
  text-align: start;
  margin: 15px 0;
  list-style: inside;
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-description-descContent-ulDesc li {
    font-size: 0.9rem;
    margin: 10px 0;
  }
}
main .portfolio-grid .portfolio-container-description-descContent-divImg {
  position: relative;
  margin: 10px;
  width: 70%;
  height: 40%;
  transition: 0.4s;
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-description-descContent-divImg {
    margin: 0;
    width: 100%;
  }
}
@media (max-width: 1080px) {
  main .portfolio-grid .portfolio-container-description-descContent-divImg {
    width: 80%;
    margin: 0 auto;
  }
}
main .portfolio-grid .portfolio-container-description-descContent-divImg-container {
  position: relative;
  width: 100%;
}
main .portfolio-grid .portfolio-container-description-descContent-divImg-container img {
  width: 100%;
}
main .portfolio-grid .portfolio-container-description-descContent-divImg i.fa-solid {
  font-size: 15px;
  color: white;
  background-color: rgba(2, 2, 2, 0.3215686275);
  border-radius: 10%;
  padding: 3px;
  position: absolute;
  bottom: 10%;
  right: 5%;
  width: 22px;
}
main .portfolio-grid .portfolio-container-description-descContent-divImg i.fa-solid:hover {
  background-color: rgba(2, 2, 2, 0.7960784314);
}
main .portfolio-grid .portfolio-container-description-descContent-divImg.active {
  transition: 0.4s;
  transform: translateX(-50%) translateY(-45%) scale(1.11);
  position: absolute;
  left: 50%;
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 0.7333333333);
  backdrop-filter: blur(3px);
}
main .portfolio-grid .portfolio-container-description-descContent-divImg.active div {
  width: 70%;
  margin: auto;
}
@media (max-width: 1080px) {
  main .portfolio-grid .portfolio-container-description-descContent-divImg.active {
    transform: translateX(-50%) translateY(-40%) scale(1.14);
  }
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-description-descContent-divImg.active {
    transform: translateX(-50%) translateY(-35%) scale(1.1);
    width: 100%;
    height: 100vh;
  }
  main .portfolio-grid .portfolio-container-description-descContent-divImg.active div {
    width: 90%;
  }
}
main .portfolio-grid .portfolio-container-description-descContent .div-img-static {
  display: none;
}
main .portfolio-grid .portfolio-container-description-linkDesc {
  margin: 15px auto;
  width: 25%;
  padding: 10px;
  background-color: #1ebe2b;
  border-radius: 7px;
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-description-linkDesc {
    width: 80%;
  }
}
main .portfolio-grid .portfolio-container-description-linkDesc a {
  color: white;
  font-family: "Oswald", "sans-serif";
  font-weight: 700;
}
main .portfolio-grid .portfolio-container-footerDesc {
  grid-area: footerDesc;
  background-color: #1f1d1d;
  color: #bbb;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  font-size: 0.7rem;
}
@media (max-width: 625px) {
  main .portfolio-grid .portfolio-container-footerDesc {
    font-size: 0.9rem;
  }
}

section.secwhats {
  width: 100%;
  padding: 5px 0;
  font-family: "Oswald", sans-serif;
}
section.secwhats .whats {
  margin-top: 7%;
  background-color: #3f5e94;
  height: 75%;
  width: 100%;
  transition: 0.5s;
}
section.secwhats .whats .content {
  width: 65%;
  transition: 0.5s;
  position: relative;
  top: -12%;
  height: 124%;
  margin: auto;
  border-radius: 20px;
  background: linear-gradient(to bottom, #173d28 -17%, #4972b9, #3b7ca7, #4972b9, #173d28 117%);
}
@media (max-width: 625px) {
  section.secwhats .whats .content {
    width: 100%;
    height: 135%;
    top: -5%;
  }
}
section.secwhats .whats .content .header {
  padding: 25px 0 0 0;
}
section.secwhats .whats .content .header i.btn-down {
  display: none;
}
section.secwhats .whats .content .header .title {
  margin-top: 1%;
  font-size: 3rem;
  color: #f5f3f1;
}
section.secwhats .whats .content .header .title i {
  position: absolute;
  top: 3%;
  margin: 0 2%;
  color: #28db91;
}
section.secwhats .whats .content .header hr {
  width: 130%;
  position: relative;
  top: -5%;
  border: 0;
  margin: 0 auto;
  height: 1.5px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
  width: 40%;
}
section.secwhats .whats .content .main {
  width: 70%;
  margin: auto;
}
section.secwhats .whats .content .main i.btn-up {
  font-size: 1.6rem;
  color: #fff;
  border-radius: 50%;
  margin: 5px auto 0 auto;
  position: relative;
  top: 6px;
  cursor: pointer;
  transition: transform 0.5s ease;
  display: block;
  margin-top: 1%;
}
section.secwhats .whats .content .main i.btn-up:hover {
  transform: scale(1.3);
  transition: 0.2s;
  color: #28db91;
}
section.secwhats .whats .content .main form {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}
section.secwhats .whats .content .main form textarea, section.secwhats .whats .content .main form input {
  padding: 10px;
  border-radius: 20px;
  margin: 15px;
  box-shadow: 0px 10px 15px -15px rgb(0, 0, 0);
}
section.secwhats .whats-toggle {
  background-color: rgba(239, 254, 255, 0);
  height: 50%;
  transition: 0.5s;
}
section.secwhats .whats-toggle .content {
  box-shadow: 0px 0px 30px 5px rgba(0, 0, 0, 0.3);
  transition: 0.5s;
  cursor: pointer;
  width: 25%;
  top: 0;
  height: 100%;
  position: relative;
  margin: auto;
  border-radius: 80px 20px 80px 20px;
}
@media (min-width: 1700px) {
  section.secwhats .whats-toggle .content {
    width: 35%;
    padding-top: 45px;
  }
}
@media (max-width: 1280px) {
  section.secwhats .whats-toggle .content {
    height: 110%;
  }
}
@media (max-width: 1080px) {
  section.secwhats .whats-toggle .content {
    height: 115%;
    width: 35%;
  }
}
@media (max-width: 820px) {
  section.secwhats .whats-toggle .content {
    height: 125%;
  }
}
@media (max-width: 625px) {
  section.secwhats .whats-toggle .content {
    width: 60%;
    height: 165%;
  }
}
section.secwhats .whats-toggle .content .header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
section.secwhats .whats-toggle .content .header i.btn-down {
  font-size: 1.6rem;
  color: #fff;
  border-radius: 50%;
  margin: 5px auto 0 auto;
  position: relative;
  top: 6px;
  cursor: pointer;
  transition: transform 0.5s ease;
  display: block;
  margin-top: -0.5px;
}
section.secwhats .whats-toggle .content .header i.btn-down:hover {
  transform: scale(1.3);
  transition: 0.2s;
  color: #28db91;
}
section.secwhats .whats-toggle .content .header .title {
  margin: -8% 0 0 0%;
  font-size: 2rem;
  color: #f5f3f1;
}
section.secwhats .whats-toggle .content .header hr {
  width: 130%;
  position: relative;
  top: -5%;
  border: 0;
  margin: 0 auto;
  height: 1.5px;
  background-image: linear-gradient(to right, transparent, #CCC, transparent);
  width: 80%;
}
section.secwhats .whats-toggle .content .main {
  display: none;
}

.footer h3 {
  color: white;
  text-transform: uppercase;
  font-size: 1.75rem;
  margin-bottom: 1.5rem;
}
.footer a, .footer p, .footer li {
  color: #64687c;
}
.footer li, .footer p {
  margin-bottom: 10px;
}
@media (max-width: 625px) {
  .footer li, .footer p {
    font-size: 1rem;
    text-align: start;
  }
}
.footer li a:hover, .footer li a:hover i, .footer p a:hover, .footer p a:hover i {
  transform: 0.4s;
  color: #28db91;
}
.footer-top {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  padding: 0 30px;
}
@media (max-width: 625px) {
  .footer-top {
    align-items: center;
    flex-direction: column;
  }
}
.footer-top-about {
  max-width: 50%;
}
@media (max-width: 625px) {
  .footer-top-about {
    max-width: 100%;
    margin-bottom: 30px;
  }
}
.footer-top-information {
  max-width: 30%;
}
.footer-top .dados {
  text-align: start;
  margin-top: 5%;
}
.footer-top .dados li {
  margin-bottom: 3%;
}
.footer-top .dados i {
  width: 25px;
  color: white;
}
@media (max-width: 625px) {
  .footer-top .dados {
    padding: 0 10px;
  }
  .footer-top .dados i {
    width: 12px;
  }
}
.footer-bottom {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 5%;
}

/*# sourceMappingURL=style.css.map */
