@use '../1-base/_variables'
@use '../1-base/_base-mixins'
@use 'layouts-mixins'

header nav.nav
   display: flex
   flex-direction: column
   justify-content: center
   position: absolute
   top: 50px
   right: 14vw
   width: 70%
   height: 45px
   color: variables.$text-color-dark
   background-image: linear-gradient(to right, #f1f1f1, #f5f3f1, #f1f1f100 )
   border-radius: 30px 0px 0px 30px  
   box-shadow: -10px 10px 15px -10px rgba(0,0,0,0.3)

   @include base-mixins.wid1080
      top: 45px

   @include base-mixins.wid768
      top: 35px

   @include base-mixins.mobile
      position: static
      width: 100%
      border-radius: 0
      background-image: linear-gradient(to right, #0650a5, #0051ad, #0650a5 )
      box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3)
      
   ul
      display: flex
      justify-content: space-evenly
      @include base-mixins.mobile
         // flex-direction: column

      li#cv
         border: solid #ee0000 2px
         color: #ff0a0a
         border-radius: 20px
         padding: 7px
         cursor: pointer

         @include base-mixins.mobile
            color: white
            border: solid #eeeeee00 2px
            padding: 0

         &:hover
            background-image: linear-gradient(to right, #83ced800, #1576af31, #0999ec00)
            color: #0917db
            border: solid #0917db 2px
            transition: .3s 


      li
         display: flex
         align-items: center
         @include base-mixins.mobile   
            padding: 15px 0
         
         a
            font-size: 1.1rem
            // font-weight: 500
            border-radius: 45px
            cursor: pointer

            @include base-mixins.mobile
               color: white
            

            &:hover
               color: variables.$text-hover
               text-decoration: underline
   