@use '../1-base/variables'
@use 'layouts-mixins'
@use '../1-base/_base-mixins'

   
main .skill .skill-menu
  margin: 10px 0
  &-top
    background-color: #6fa2d1f8
    height: 4px
  
  &-bottom
    background-color: #6fa2d1f8
    height: 6px


  &-content
    background-color: #3a3c42
    font-size: .8rem
    padding: 30px 0 60px 0
    &-title
      padding: 5px 0 15px 0
      color: white
      @include layouts-mixins.title-h3
      i
        color: white
        margin-right: 10px
    &-carousel
      padding: 0px 0 10px 0
      min-height: 450px
      @include layouts-mixins.center-content

      .carousel-arrow
        margin: 0 40px
        font-size: 2.5rem
        transition: transform .5s ease
        cursor: pointer
        color: #6fa2d1f8
        transition: .5s
        @include base-mixins.mobile
          margin: 0 15px
          font-size: 2rem
        

        &:hover
          transform: scale(1.2)
          transition: .5s
          color: variables.$text-hover
     

      #card.card-hidden
        visibility: hidden

      #card.card-fade
        position: absolute
        transition: 1s
        
      #card.card-right
        transform: translateX(50%) rotateY(90deg)
        transition: .3s
        position: absolute

      #card.card-left
        transform: translateX(-50%) rotateY(-90deg)
        transition: .3s
        position: absolute

      #card.hidden-right
        transform: translateX(-50%) rotateY(-90deg) 
        transition: .3s

      #card.hidden-left
        transform: translateX(50%) rotateY(90deg) 
        transition: .3s

      #card.visible
        transform: translateX(0%) rotateY(0deg)
        transition: .3s



      &-container
        display: flex
        justify-content: center
        width: 60%
        // min-width: 750px

        // &-card
        //   box-shadow: 0px 0px 10px -1px #6b7cc773
        //   border: solid white 2px
        //   color: white
        //   padding: 5px 20px
        //   display: flex
        //   flex-direction: column
        //   border-radius: 10px
        //   width: 100%
        //   min-height: 450px
        //   background-color: #0000002c

        &-card
          box-shadow: 0px 0px 10px -1px #6b7cc773
          border: solid white 2px
          color: white
          padding: 5px 50px
          display: flex
          flex-direction: column
          border-radius: 10px
          width: 620px
          min-height: 450px
          background-color: #0000002c
          
          // transition: transform .5s ease
          // transition: .8s

        

          @include base-mixins.mobile
              width: 100%
              min-height: 200px
              // margin-top: 20%
          
          &:hover
              // margin-top: -4px 
              transform: scale(1.003)
              transition: .5s
              box-shadow: 0px 0px 15px 1px #6b7cc773
          
        
          &-title
            @include layouts-mixins.title-h4
            font-size: 2em
            @include base-mixins.mobile
              font-size: 1.4rem
            
          hr
              @include layouts-mixins.hr
              width: 100%
              top: 0


          &-desc
            padding: 20px 0
            flex-grow: 1
            @include base-mixins.mobile
              padding: 10px 0 
            
            ul 
                li
                  padding: 5px 0
                  list-style: inside
                  text-align: start
                  @include base-mixins.mobile
                    font-size: .8rem
                    padding: 0 0 5px 0

          &-img
            // height: 47%
            padding-bottom: 10px

            p 
              text-indent: 0
              color: #ffffff60
              padding: 5px 0
              font-size: .8em

              &:hover
                color: variables.$text-hover
            img
              margin: 0 auto
              width: 45vh
              box-shadow: 0px 0px 15px -4px #ffffff

    &-nav
      ul
          padding: 0px 10px
          width: 55%
          margin: 0 auto
          display: flex
          flex-wrap: wrap
          justify-content: space-evenly

          i
            width: 25px
            height: 22px
            padding: 4px 0
            margin: 0 3px 4px 0 
            color: #60daff4f
            border-radius: 100%
            text-align: center
            @include base-mixins.mobile
              height: 19px
              padding: 5px 0 0px 0
              width: 20px
            
          li
            align-items: center
            flex-direction: column
            
            cursor: pointer
            display: flex
            color: #60daff4f
            margin: 0 10px
            @include base-mixins.mobile
              margin: 0 5px

            

            &:hover 
              color: #60daff
              color: variables.$text-hover

              i
                color: #3A3C42
                background-color: variables.$text-hover
                background-color: #60daff
                transition: .4s

          li.active
            // color: variables.$text-hover
            color: #fff
            font-weight: 600

            i
              // color: variables.$secundary-bg-color
              // color: black
              // background-color: #60daff
              color: variables.$secundary-bg-color
              background-color: #1b61ac
              // background-color: variables.$text-hover
              transition: .4s