@use '../1-base/_variables'
@use '../1-base/_base-mixins'
@use 'layouts-mixins'

section.secwhats
   width: 100%
   font-family: 'Oswald', sans-serif

   .whats
      margin-top: 7%
      background-color: #3f5e94
      height: 65vh
      width: 100%
      transition:  .5s 
      
      
      .content
         width: 65%
         transition:  .5s
         position: relative
         top: -12%
         height: 124%
         margin: auto
         border-radius: 20px
         background: linear-gradient(to bottom ,#31394d -17% ,  #4972b9, #4972b9, #4972b9, #31394d 117% )
         background: linear-gradient(to bottom ,#173d28 -17% ,  #4972b9, #3b7ca7, #4972b9, #173d28 117% )

         @include base-mixins.mobile
            width: 90%


         .header
            padding: 25px 0 0 0

            i.btn-down
               display: none

            .title
               
               margin-top: 1%
               font-size: 3rem
               color: #f5f3f1
               
               i
                  position: absolute
                  top: 3%
                  margin: 0 2%  
                  color: #28db91
               
            hr
               @include layouts-mixins.hr
               width: 40%
               
         .main
            width: 70%
            margin: auto

            i.btn-up
               @include layouts-mixins.whats-btn-toggle
               margin-top: 1%

            form
               margin-top: 5%
               display: flex
               flex-direction: column

               textarea , input
                  @include layouts-mixins.input


         
   .whats-toggle
      // margin-top: 0%
      background-color: #effeff00
      height: 55%
      transition:  .5s 

      .content
         box-shadow: 0px 0px 30px 5px rgba(0,0,0,0.3)
         transition:  .5s
         cursor: pointer
         width: 25%
         top: 0
         height: 100%
         position: relative
         margin: auto
         border-radius: 80px 20px 80px 20px

         @include base-mixins.mobile
            width: 60%
            height: 165%

         .header
            display: flex
            flex-direction: column
            justify-content: center
            
            i.btn-down
               @include layouts-mixins.whats-btn-toggle
               margin-top: -.5px

            .title
               margin: -8% 0 0 0%
               font-size: 2rem
               color: #f5f3f1
               
               
            hr
               @include layouts-mixins.hr
               width: 80%

         .main
            display: none

        




   

